# react-scripts 5 (CRA) + npm 7+ génèrent des conflits de peer dependencies non bloquants
# (ex. react-day-picker@8 attend date-fns@2/3 alors que le projet utilise date-fns@4, combo
# qui fonctionne à l'exécution). On accepte ces peers comme le faisait l'installation d'origine.
legacy-peer-deps=true
